
* body {
    background: linear-gradient(180deg, #00546B 0%, rgba(0, 84, 107, 0) 100%);
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    width: 100%;
    height: 80px;
    flex-direction: row;
    background-color: #333;
}

#menu-icon {
    display: none;
}

.logo {
    margin-left: 5px;
    width: 25%;
    height: auto;
}

nav {
    margin: auto;
}

nav ul {
    display: flex;
    width: 100%;
    margin: auto;
    list-style: none;
    box-sizing: border-box;
}

nav ul li a {
    color: white;
    padding: 2.0em 1.5em;
    text-decoration: none;
}

nav li a:hover {
    background: tomato;
    color: white;

}

.container-inicio {
    display: flex;
    margin: 20px;
    flex-direction: row;
    box-sizing: border-box;
}

.container-inicio img {
    width: 60%;
    height: 400px;
    margin: 20px;
    border-radius: 50px;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
}

.container-inicio .parte-2 {
    display: flex;
    width: auto;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    border-radius: 40px;
    background: linear-gradient(180.11deg, #E5E5E5 47.59%, rgba(192, 71, 78, 0) 99.9%);
}

.container-inicio .redes-sociales {
    display: flex;
    margin: 20px;
    flex-direction: column;
    border-radius: 40px;
}

.container-inicio .redes-sociales a i {
    padding: 36px;
    margin: 8px;
    border-radius: 70px;
    background: linear-gradient(180.11deg, #E5E5E5 47.59%, rgba(192, 71, 78, 0) 99.9%);
}

.container-inicio .redes-sociales a i:hover {
    background: linear-gradient(180.11deg, red 47.59%, rgba(192, 71, 78, 0) 99.9%);
}

.container-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: lightslategrey;
    box-sizing: border-box;
}

.titulo {
    background: linear-gradient(180.11deg,teal 47.59%, rgba(192, 71, 78, 0) 99.9%);;
    font-size: 30px;
}

.container-cards .card {
    background-color: white;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
}

.container-cards .card:hover {
    width: 83%;
}

.card img {
    width: 80%;
}

.card h4 {
    color: teal;
    font-size: 30px;
}

/*nuevo cambio*/
.card .btn {
    width: 80%;
    height: 20%;
    padding: 10px;
    margin: 10px;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    border-radius: 20px;
    border: 1px solid black;
}

/* .card a {
    width: auto;
    border: 2px solid teal;
} */

.card .btn:hover {
    background-color: teal;
    color: white;
}

.container-contacto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-contacto img {
    width: 60%;
    height: 600px;
    padding: 10px;
    margin: 20px;
}

.container-contacto form {
    padding: 10px;
    margin: 20px;
    font-size: 20px;
    background-color:#722432;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
}

h3 {
    box-sizing: border-box;
    font-size: 24px;
    box-shadow: 0px 10px 4px 4px rgba(0, 0, 0, 0.25);
}

input[type=text],[type=email] {
    font-size: 20px;
    color: black;
    border: 2px solid white;
}

.btn-send {
    padding: 15px;
    margin-top: 20px;  
    border-radius: 15px;  
    width: 100%;
    font-size: 20px;
}

.btn-send:hover {
    background-color:#722432;
    color: white;
    border: 2px solid white;
}

.parte-uno {
    border-radius: 30px;
    font-size: 30px;
    text-align: center;
    background: linear-gradient(180deg, #2A377D 0%, rgba(92, 107, 189, 0.927083) 7.29%, rgba(96, 111, 190, 0.890625) 10.94%, rgba(99, 114, 191, 0.854167) 14.58%, rgba(106, 120, 194, 0.786458) 30.73%, rgba(184, 190, 222, 0) 100%);
}

.cointainer-sobreMi {
    width: 100%;
    flex-wrap: nowrap;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cointainer-sobreMi .card {
    width: 80%;
    background-color: black;
    padding: 10px;
    margin: 10px;
    text-align: center
}

.cointainer-sobreMi .card button {
    /*antes
    width: 80%;
    border: 2px solid white ; */
    width: 100%;
    padding: 5px;
    border: 2px solid white;
    font-size: 35px;
}

.cointainer-sobreMi .card button:hover {
    background-color: teal;
    color: white;
}

.cointainer-sobreMi .card .skill-0, .skill-1, .skill-2, .skill-3, .skill-4 {
    width: 200x;
    height: 300px;
    background-color: white;
}

.cointainer-sobreMi .card .skill-0 p, .skill-1 p, .skill-2 p, .skill-3 p, .skill-4 p {
    color: #A32323;
    text-align: left;
    padding-left:10px ;
    font-size: 20px;
    word-spacing: 2px;
}

#menu-icon {
    color: thistle;
    font-size: 50px;
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 750px) {

    #menu-icon {
        margin-left: 0px;
        padding: 5px;
        font-size: 50px;
        display: block;
    }
    
    nav {
        width: 100%;
        justify-items: center;
        flex-direction: column;
        height: 250px;
        background-color: gray;
    }
    
    .logo {
        display: none;
    }
    
    header {
        width: 100%;
        flex-direction: column;
        height: auto;
        align-items: flex-start;
    }
    
    nav ul {
        justify-content: center;
        flex-direction: column;
        background-color: teal;
    }
    
    nav ul li {
        background-color: white;
        margin: 1px;
        padding: 1rem;
    }
    
    nav ul li:hover{
        background-color: tomato;
    }
    
    nav ul li a {
        color:black;
        font-size: 20px;
        padding: 0;
    }
    
    .container-inicio {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        box-sizing: border-box;
        text-align: justify;
    }

    .container-inicio .redes-sociales {
        flex-direction: row;
        margin: auto;
    }
    .container-cards {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }
    
    .container-contacto {
        display: flex;
        justify-content: center;
        flex-direction: column;  
    }
    
    .container-contacto img {
        width: 80%;
        height: 300px;
    }
    
    .cointainer-sobreMi {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
}
