
* body {
    background: linear-gradient(180deg, #00546B 0%, rgba(0, 84, 107, 0) 100%);
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.menu .navbar {
    display: flex;
    flex-direction: row;
    background-color: black;
}

.menu .navbar .navbar-brand {
    justify-content: center;
    background-color: rgb(236, 230, 230);
    padding: 10px;
    outline: none;

    margin: auto;
}

.menu .navbar a {
    color: black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.menu .navbar a:hover{
    border-left: 1px solid red;
    border-right: 1px solid red;
}

.container-inicio {
    position: relative;
    display: inline-block;
}

.container-inicio .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#img-estilo {
    position: relative;
    width: 100%;
    height: 100%;
}

.container-inicio .titulo {
    position: absolute;
    top: 100px;
    color: #F59A9A;
}

.container-inicio .subtitulo {
    position: absolute;
    top: 180px;
    color: #F59A9A;
}

.container-inicio .btn-outline-primary {
    position: absolute;
    top: 350px;
    width: 20%;
    padding: 15px;
    border-radius: 20px;
    font-size: 20px;
}

.container-sobreMi .form-group {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-portafolio {
    background-color: rgb(199, 73, 73);
    text-align: center;
    color: white;
    padding: 58px;
}

.container-portafolio h2 {
    padding: 20px;
}

.container-portafolio .form-group {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    padding: 20px;
}

.container-portafolio .card {
    background-color: white;
    color: rgb(24, 56, 56);
    align-items: center;
    margin: 20px;
}

.container-portafolio .card:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 0px 4px 12px 12px rgba(0, 0, 0, 0.26);
}

.container-portafolio .card .btn {
    width: 100%;
    border-radius: 10px;
    border: 1px solid gray;
    background-color: white;
    color: black;
    outline: none;
}

.container-portafolio .card .btn:hover {
    color: white;
    background-color: #007bff ;
}

.card h4 {
    color: teal;
}

.container-sobreMi {
    width: 100%;
    /* flex-wrap: nowrap; */
    flex-direction: column;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 29px;
}

.container-sobreMi #v-pills-tab {
    border: 1px solid white;
}

.container-sobreMi .nav-link {
    color: rgb(199, 73, 73);
    border-bottom: 1px solid white;
}

.container-sobreMi .card {
    width: 100%;
    background-color: black;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.container-sobreMi .card button {
    width: 100%;
    padding: 5px;
    border: 2px solid white;
    font-size: 35px;
}

.container-sobreMi .card button:hover {
    background-color: teal;
    color: white;
}

.container-sobreMi .card .skill-0, .skill-1, .skill-2, .skill-3, .skill-4 {
    width: 200x;
    height: 300px;
    background-color: white;
}

.container-sobreMi .card .skill-0 p, .skill-1 p, .skill-2 p, .skill-3 p, .skill-4 p {
    color: #A32323;
    text-align: left;
    padding-left:10px ;
    word-spacing: 2px;
}

.container-sobreMi .card-header {
    font-size: x-large;
}

.container-sobreMi .card-text {
    background-color: white;
    padding: 20px;
    color:#A32323 ;
    font-size: large;
}

.container-contacto {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #C4C4C4;
    color: white;
    justify-content: center;
    background-image: url("../images/fondo-contacto2.jpg");
}

.container-contacto .form-group {
    padding: 20px;
}

.container-contacto .form-group p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: x-large;
    text-align: center;
    color: #DC7A7A;
    border: 1px solid white;
}

.container-contacto .form-group p:hover {
    color: white;
    background-color: #DC7A7A;
}

.form-consulta h4 {
    padding: 20px;
    color: #DC7A7A;
}

.form-consulta {
    border: 1px solid rgb(255, 255, 255);
    padding: 20px;
    margin: 20px;
    color: black;
    background-image: url("../images/fondo-contacto.jpg");
}

.redes-sociales i {
    padding: 30px;
    font-size: 67px;
    margin: 20px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 19px;
    background: linear-gradient(180.11deg, #969595 47.59%, rgba(192, 71, 78, 0) 99.9%);

    width: 119.44px;
    height: 129px;
    transition: width 2s, height 2s, transform 2s;
}

.redes-sociales i:hover {
    background-color: rgb(187, 70, 70);
    width: 130px;
    height: 140px;
    transform: rotate(360deg);
}

.footer {
    background-color: black;
    text-align: center;
    padding: 20px;
}
.footer a {
    color: white;
}

@media (max-width: 760px) { 
    .menu .navbar {
        justify-content: space-between;
        flex-direction: row-reverse;
    }

    .menu .navbar .navbar-brand {
        justify-content: center;
        align-self: center;
    }

    .container-inicio .titulo {
        top: 2px;
        font-size: xx-large;
        padding: 20px;
    }

    .container-inicio .subtitulo {
        top: 88px;
        padding: 20px;
        font-size: large;
    }

    .container-inicio .btn-outline-primary {
        top: 160px;
        width: 35%;
        padding: 4px;
        border-radius: 10px;
        border-color: white;
    }

    .container-portafolio {
        padding: 10px;
    }

    .container-portafolio .card {
        width: 9rem;
        box-sizing: border-box;
    }

    .container-portafolio .card:hover {
        transform: none;
    }

    .container-portafolio .form-group {
        flex-direction: column;
    }

    .container-sobreMi .form-group {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        padding-left: 58%;
    }
}

